.Sale__container {
	width: 800px;
	margin: 10px auto;


	
}

.Sale__header{
	position: relative;
	top: 200px;
	text-align: center;
	font-size: 1.5rem;
	padding: 2rem;
	margin:0;


}

.Sale__ul-list {
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	top: 150px;
	left: 55px;
	padding: 5rem;
	list-style-type: none;


}

.Sale__ul-list li {
	float: left;
	width: 20%;
	height: 20%;
	margin-top: 90px;
	margin-left: 20px;

}

.Sale__li-items-1 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	box-shadow: 5px 4px 4px  rgba(0, 0, 0, .3);
	border-radius: 1rem;  
}


.Sale__li-items-2 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	box-shadow: 5px 4px 4px  rgba(0, 0, 0, .3);
	border-radius: 1rem; 
}

.Sale__li-items-3 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	box-shadow: 5px 4px 4px  rgba(0, 0, 0, .3);
	border-radius: 1rem; 
}

.Sale__li-items-4 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	box-shadow: 5px 4px 4px  rgba(0, 0, 0, .3);
	border-radius: 1rem; 
	
}



.img__pic p{
	position: relative;
	height: .5rem;
	margin-top: 1rem;
	text-align: center;
	line-height: 4rem;
	
}


.redline{
	text-decoration: line-through red;
}

@media(max-width: 1200px){
	.Sale__header{
		left: 34rem;
	}
}

@media(max-width: 900px){
	.Sale__header{
		left: 22rem;
	}
}

@media(max-width: 600px){
	.Sale__header{
		left: 15rem;
	}
}

@media(max-width: 900px){
	.Sale__ul-list li{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		height: 40%;
		width: 70%;
		left: 2rem;


	}
}

@media(max-width: 900px){
	.img__pic p{
		left: 12rem;
		margin-top: .2rem;
	}
}

@media(max-width: 600px){
	.img__pic p{
		left: 5rem;
		margin-top: .2rem;
	}
}






